/* Footer */
.footer-parent {
    width: 90%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    border-top: 1px solid white;
}
.footer-parent p{
    color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
}






/* Tablet devices (768px and below) */
@media (max-width: 768px) {
  .footer-parent {
    padding: 12px;
    flex-direction: column;
    top: 135%;
  }

  .footer-parent p {
    font-size: 13px;
  }
}

/* Mobile devices (480px and below) */
@media (max-width: 480px) {
  .footer-parent {
    padding: 10px;
  }

  .footer-parent p {
    font-size: 12px;
    padding: 0 10px;
  }
}
