body, html {
  height: 100%;
  margin: 0;
}

.skills-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.skills-content {
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skill-scroll-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 40px auto; 
  position: relative; 
}


.skill-list {
  display: flex;
  gap: 60px;
  animation: scroll-left 50s linear infinite;
  width: fit-content;
}

.skill-list img:hover{
  scale: 1.05;
  transition: 1s;
}

@keyframes scroll-left {
  0% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.react-logo{
  animation: spin 20s linear infinite;
}

@keyframes spin{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}



.typewriter {
  color: white;
  margin: 20px;
  overflow: hidden; 
  white-space: nowrap;   
  border-right: 2px solid lightpink;
  width: 0;            
  animation: typing 8s linear forwards, blink 0.8s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 109ch; }
}


.tech-icons {
  display: flex;
  gap: 15px;      
  align-items: center;
  flex-wrap: wrap; 
}

.tech-img {
  width: 104px;
  height: 104px;
  object-fit: contain;
}

.tech-svg {
  margin-top: 20px;
  margin-left: 20px;
  width: 114px;
  height: 114px;
}
